<!DOCTYPE mapper
    PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
    "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
    
	<mapper namespace="com.backend.backend.repository.EmpRepository">
		
		<resultMap id="EmpResultMap" type="EmpModel">
    		<id column="emp_id" property="emp_id" />
    		<result column="emp_name" property="emp_name" />
    		<result column="nrc" property="nrc" />
    		<result column="phone" property="phone" />
    		<result column="email" property="email" />
    		<result column="dob" property="dob" />
    		<result column="rank" property="rank" />
    		<result column="department" property="dep" />
    		<result column="address" property="address" />
    		<result column="checkdelete" property="checkdelete" />
			<result column="image" property="image" />    	
    	</resultMap>
    	
    	<insert id="addEmp" parameterType="EmpModel">
    		INSERT INTO employee (emp_id, emp_name, nrc, phone, email, dob, rank, department, address, checkdelete, image) VALUES (#{emp_id}, #{emp_name}, #{nrc}, #{phone}, #{email}, #{dob}, #{rank}, #{dep}, #{address}, #{checkdelete}, #{image});
    	</insert>
		
		<delete id="deleteEmp" parameterType="int">
			DELETE FROM employee WHERE emp_id = #{emp_id};
		</delete>
		
		<select id="empList" resultMap="EmpResultMap">
    		SELECT emp_id, emp_name, nrc, phone, email, dob, rank, department, address, checkdelete, image FROM employee ORDER BY emp_id ASC;
    	</select>
    	
    	<select id="searchById" resultMap="EmpResultMap" parameterType="int">
    		SELECT emp_id, emp_name, nrc, phone, email, dob, rank, department, address, image FROM employee WHERE emp_id = #{emp_id};
    	</select>
    	
    	<update id="editEmp" parameterType="EmpModel">
			UPDATE employee SET emp_name = #{emp_name}, nrc=#{nrc}, phone=#{phone}, email=#{email}, dob=#{dob}, rank=#{rank}, department=#{dep}, checkdelete=#{checkdelete}, address=#{address} WHERE emp_id=#{emp_id}; 
		</update>
		
		<update id="editEmpImage" parameterType="EmpModel">
			UPDATE employee SET emp_name = #{emp_name}, nrc=#{nrc}, phone=#{phone}, email=#{email}, dob=#{dob}, rank=#{rank}, department=#{dep}, checkdelete=#{checkdelete}, address=#{address}, image=#{image} WHERE emp_id=#{emp_id}; 
		</update>
	</mapper>