<!DOCTYPE mapper
    PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
    "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
    
    <mapper namespace="com.backend.backend.repository.LeaveRepository">
		<resultMap id="LeaveResultMap" type="EmpModel">
    		<id column="leave_id" property="leave_id" />
    		<result column="emp_id" property="emp_id" />
    		<result column="emp_name" property="emp_name" />
    		<result column="nrc" property="nrc" />
    		<result column="phone" property="phone" />
    		<result column="email" property="email" />
    		<result column="dob" property="dob" />
    		<result column="rank" property="rank" />
    		<result column="department" property="dep" />
    		<result column="address" property="address" />
    		<result column="checkdelete" property="checkdelete" />
    		<result column="image" property="image" />
    		<result column="leave_type" property="leave_type" />
    		<result column="from_date" property="from_date" />
    		<result column="to_date" property="to_date" />
    		<result column="days" property="days" />
    		<result column="deleted" property="deleted" />
    	</resultMap>
    	
    	<insert id="addLeave" parameterType="EmpModel">
    		INSERT INTO empleave (emp_id, leave_type, from_date, to_date, days, deleted) VALUES (#{emp_id}, #{leave_type}, #{from_date}, #{to_date}, #{days}, #{deleted});
		</insert>
		
		<insert id="addEmployee" parameterType="EmpModel">
			INSERT INTO employee (emp_id, emp_name, nrc, phone, email, dob, rank, department, address, checkdelete, image) VALUES (#{emp_id}, #{emp_name}, #{nrc}, #{phone}, #{email}, #{dob}, #{rank}, #{dep}, #{address}, #{checkdelete}, #{image});
		</insert>
		
		<delete id="deleteLeave" parameterType="int">
			DELETE FROM empleave WHERE leave_id = #{leave_id};
		</delete>
		
		<select id="leaveList" resultMap="LeaveResultMap">
    		SELECT leave_id, emp_id, leave_type, from_date, to_date, days, deleted FROM empleave;
    	</select>
    	
    	<select id="searchByLeaveId" resultMap="LeaveResultMap" parameterType="int">
    		SELECT leave_id, emp_id, leave_type, from_date, to_date, days, deleted FROM empleave WHERE leave_id=#{leave_id};
    	</select>
    	
    	<select id="findLeaveByEmployeeId" resultMap="LeaveResultMap" parameterType="int">
    		SELECT leave_id, emp_id, leave_type, from_date, to_date, days, deleted FROM empleave WHERE emp_id=#{emp_id};
    	</select>
    	
    	<select id="empLeaveList" resultMap="LeaveResultMap">
			SELECT employee.emp_id, employee.emp_name, employee.nrc, employee.phone, employee.email, employee.dob, employee.rank, employee.department, employee.address, employee.checkdelete , employee.image , empleave.leave_type, empleave.leave_id, empleave.from_date, empleave.to_date, empleave.days, empleave.deleted FROM employee FULL OUTER JOIN empleave ON employee.emp_id = empleave.emp_id ORDER BY employee.emp_id;  
		</select>

    	<update id="editLeave" parameterType="EmpModel">
			UPDATE empleave SET emp_id=#{emp_id}, leave_type = #{leave_type}, from_date=#{from_date}, to_date=#{to_date}, days=#{days}, deleted=#{deleted} WHERE leave_id=#{leave_id}; 
		</update>
	</mapper>